<%- include('../partials/header') %>

<form action="/posts" method="POST">
    <label>Type post here:</label>
    <br>
    <textarea name="postContent" id="" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Post">
</form>

<%- include('../partials/footer') %>