<%- include('../partials/header') %>

  <div class="card">
    <form action="/posts" method="POST">
      <div class="card-header">
        What do you want to say:
      </div>
      <div class="card-body">
        <textarea name="postContent" class="w-100 p-3" style="height: 200px"></textarea>
        <hr>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>

<%- include('../partials/footer') %>